# windows release build: MinGW-w64 6.3.0 i686 on Windows Server 2012 R2
image:
  - Visual Studio 2015
install:
  - set PATH=%PATH%;C:\mingw-w64\i686-6.3.0-posix-dwarf-rt_v5-rev1\mingw32\bin

before_build:
  # note absolute paths currently hard coded in QT binaries
  # TODO: add a qt.conf file to override this, see: https://doc.qt.io/qt-5/qt-conf.html#overriding-paths
  # install pre-compiled Qt5 binaries & static libraries
  - cd ..
  - mkdir qt5-static
  - cd qt5-static
  - appveyor DownloadFile "https://github.com/lkeegan/qt5-static/releases/latest/download/qt5-static-win32.zip"
  - 7z x qt5-static-win32.zip
  - dir install
  - cd ..\spatial-model-editor
  - dir
  # export path for Qt5 binaries
  - set PATH=C:\projects\qt5-static\install\bin;%PATH%
  - qmake -v
  # download pre-compiled static libSBML library
  - cd ext
  - mkdir libsbml
  - cd libsbml
  - appveyor DownloadFile "https://github.com/lkeegan/libsbml-static/releases/latest/download/libsbml-static-win32.zip"
  - 7z x libsbml-static-win32.zip
  - dir
  - cd ..
  - cd ..

build_script:
  # compile and run unit tests
  - mkdir build-tests
  - cd build-tests
  - qmake -Wall -config release ..\test.pro
  - mingw32-make -j2
  - release\test.exe -d=yes
  - cd ..
  # compile release executable
  - mkdir build
  - cd build
  - qmake -Wall -config release ..\spatial-model-editor.pro
  - mingw32-make -j2

artifacts:
  - path: build/release/spatial-model-editor.exe
    name: spatial-model-editor

deploy:
  provider: GitHub
  description: ''
  artifact: spatial-model-editor
  auth_token:
    secure: AzIgTar/Vk7S6hA8HAZAImacEIrbwmfrR6PJ+qHuAQHuLyPSAAcpI5rl/w6BumKp
  draft: false
  prerelease: false
  force_update: true
  on:
    branch: master
    APPVEYOR_REPO_TAG: true
