breathe
docutils
https://github.com/spatial-model-editor/spatial-model-editor/releases/download/latest/sme-latest-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
ipykernel
matplotlib
myst_parser
nbsphinx
numpy
pandoc
sphinx>=4.5.0
sphinx_rtd_theme>=1.0.0
