name: Code Quality
on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:
concurrency:
  group: quality-${{ github.ref }}
  cancel-in-progress: true
defaults:
  run:
    shell: bash
env:
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  SONAR_SCANNER_VERSION: '5.0.1.3006'
jobs:
  quality:
    name: ${{ matrix.script }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        script: [codecov, sonar, asan, ubsan]
    steps:
      - uses: spatial-model-editor/setup-ci@2024.04.23
        with:
          sme_deps: '2024.05.15'
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 0
      - uses: actions/setup-java@v4
        if: matrix.script == 'sonar'
        with:
          distribution: 'temurin'
          java-version: '17'
      - if: github.repository == 'spatial-model-editor/spatial-model-editor' || matrix.script != 'sonar'
        run: ./ci/quality-${{ matrix.script }}.sh
