name: Code Quality

on: push
defaults:
  run:
    shell: bash
env:
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  SONAR_SCANNER_VERSION: '4.6.2.2472'

jobs:
  quality:
    name: ${{ matrix.script }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        script: [codecov, sonar, asan, ubsan, tsan]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          submodules: 'true'
          fetch-depth: 0
      - name: Cache ccache
        uses: actions/cache@v2
        with:
          path: ~/.cache/ccache
          key: ccache-${{ github.job }}-${{ matrix.script }}-${{ runner.os }}-${{ github.sha }}
          restore-keys: ccache-${{ github.job }}-${{ matrix.script }}-${{ runner.os }}-
      - name: Cache sonar
        uses: actions/cache@v2
        if: matrix.script == 'sonar'
        with:
          path: ~/.sonarcache
          key: sonar-${{ github.job }}-${{ matrix.script }}-${{ runner.os }}-${{ github.sha }}
          restore-keys: sonar-${{ github.job }}-${{ matrix.script }}-${{ runner.os }}-
      - uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Get static libs
        run: sudo ./ci/getlibs.sh linux
      - name: Install dependencies (and use clang 12)
        run: ./ci/linux-install.sh 12
      - name: Run job script
        run: ./ci/${{ matrix.script }}.sh
