name: Code Quality

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: quality-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash
env:
  SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
  SONAR_SCANNER_VERSION: '5.0.1.3006'
  CC: clang
  CXX: clang++

jobs:
  quality:
    name: ${{ matrix.script }}
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        script: [codecov, sonar, asan, ubsan]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: 'true'
          fetch-depth: 0
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
      - name: Cache ccache
        uses: actions/cache@v3
        with:
          path: ~/.cache/ccache
          key: ccache-${{ github.job }}-${{ matrix.script }}-${{ runner.os }}-${{ github.sha }}
          restore-keys: ccache-${{ github.job }}-${{ matrix.script }}-${{ runner.os }}-
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Get static libs
        run: sudo ./ci/getlibs.sh linux
      - name: Install apt dependencies and use clang
        run: ./ci/linux-install.sh
      - name: Run job script
        if: matrix.script != 'sonar' || github.repository == 'spatial-model-editor/spatial-model-editor'
        run: ./ci/${{ matrix.script }}.sh
