name: Python Wheel Builds

on: push

env:
  CIBUILDWHEEL_VERSION: 1.9.0
  CIBW_TEST_COMMAND: 'python -m unittest discover -v -s {project}/sme/test'
  CIBW_BUILD_VERBOSITY: 3
  SME_EXTERNAL_SMECORE: 'true'

jobs:
  linux-wheel:
    name: Linux Wheels
    runs-on: ubuntu-16.04
    defaults:
      run:
        shell: bash
    env:
      CIBW_MANYLINUX_X86_64_IMAGE: spatialmodeleditor/manylinux2010_x86_64:2021.02.08
      CIBW_MANYLINUX_PYPY_X86_64_IMAGE: spatialmodeleditor/manylinux2010-pypy_x86_64:2021.02.08
      CIBW_SKIP: '*-manylinux_i686 cp27-*'
      CIBW_ENVIRONMENT: 'SME_EXTERNAL_SMECORE=on'
      CIBW_BEFORE_ALL: 'cd {project} && ls && bash ./ci/linux-wheels.sh'
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: 'true'
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install cibuildwheel
      run: python -m pip install cibuildwheel==$CIBUILDWHEEL_VERSION
    - name: Build wheels
      run: python -m cibuildwheel --output-dir wheelhouse
    - uses: actions/upload-artifact@v2
      with:
        path: ./wheelhouse/*.whl

  macos-wheel:
    name: MacOS Wheels
    runs-on: macos-10.15
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: actions/setup-python@v2
        with:
          python-version: '3.8'
      - name: Download static libraries
        run: sudo ./ci/getlibs.sh osx
      - name: Build wheels
        run: ./ci/macos-wheels.sh
      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  win64-wheel:
    name: Windows 64-bit Wheels
    runs-on: windows-2019
    defaults:
      run:
        shell: msys2 {0}
    env:
      CIBW_BUILD: '*-win_amd64'
      SME_EXTRA_CORE_DEFS: '_hypot=hypot;MS_WIN64'
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: mingw-w64-x86_64-gcc mingw-w64-x86_64-cmake mingw-w64-x86_64-ccache make
      - name: Download static libraries
        run: ./ci/getlibs.sh win64
      - name: Build wheels
        run: ./ci/windows-wheels.sh
      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  win32-wheel:
    name: Windows 32-bit Wheels
    runs-on: windows-2019
    defaults:
      run:
        shell: msys2 {0}
    env:
      CIBW_BUILD: '*-win32'
      SME_EXTRA_CORE_DEFS: '_hypot=hypot'
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW32
          update: true
          install: mingw-w64-i686-gcc mingw-w64-i686-cmake mingw-w64-i686-ccache make
      - name: Download static libraries
        run: ./ci/getlibs.sh win32
      - name: Build wheels
        run: ./ci/windows-wheels.sh
      - uses: actions/upload-artifact@v2
        with:
          path: ./wheelhouse/*.whl

  sdist:
    name: Build source distribution
    runs-on: ubuntu-16.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: 'true'
      - uses: actions/setup-python@v2
        name: Install Python
        with:
          python-version: '3.8'
      - name: Build sdist
        run: python setup.py sdist
      - uses: actions/upload-artifact@v2
        with:
          path: dist/*.tar.gz

  pypi:
    name: Upload to PyPI
    needs: [linux-wheel, macos-wheel, win64-wheel, win32-wheel, sdist]
    runs-on: ubuntu-18.04
    # upload pypi wheels if commit is tagged with "1.*"
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/1.')
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: artifact
          path: dist
      - uses: pypa/gh-action-pypi-publish@master
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}
